<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>My Great Appのメッセージを送って</string>
				<string>My Great Appで一郎にメッセージを送信</string>
				<string>Message with My Great App</string>
				<string>I want to talk to My Great App</string>
				<string>Order something with My Great App</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
